__pycache__/
*.pyc
.env
.DS_STORE
tools/architecture/frontend/node_modules/
tools/architecture/frontend/dist/
process_flow.html
architecture.html
tools/architecture/
tools/catalog
tests
tests/
scripts
scripts/
src/tools/tool_embeddings.npy
src/tools/tool_embeddings_index.json
results/